In [2]:
import numpy as np
import pandas as pd

In [3]:
# pandasでの読み込み
df = pd.read_csv("./2D_example.csv" , )

# numpy での読み込み

In [4]:
df.head()

   1  -7.428476  1.509903
0  0   2.980693  1.960821
1  0   3.988255  4.636389
2  1  -5.789437 -4.621614
3  1  -4.894447 -3.269730
4  1  -1.933949 -0.047276